
.anon .hide_to {
  display: block;
  position: relative;
  min-height: 20px;
}

.anon .hide_to.guest::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: red;
  font-size: 18px;
  text-align: center;
  content: "Bạn phải đăng nhập để xem nội dung (Miễn Phí).";
}
